{% extends "base.html" %}
{% block title %}Community richness & diversity{% endblock title %}
{% block head_bottom %}
    <link rel="stylesheet" href="../src/default.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line', 'corechart']});
        google.charts.setOnLoadCallback(drawChart1);
        google.charts.setOnLoadCallback(drawChart2);
        function drawChart1() {
            var data = google.visualization.arrayToDataTable([
                ['SampleName', 'OTUs'],
            {% for ele in adiv_data %}
                ['{{ele[0]}}', {{ele[1]}}],
            {% endfor %}
            ]);
            var options = {hAxis: {title: "Sample"}, vAxis: {title: "count"}, legend: {position: "top"}, colors: ['#67B7DC']};
            var chart = new google.visualization.ColumnChart(document.getElementById('OTU_Chart'));
            chart.draw(data, options);
        }
        function drawChart2() {
            var data = google.visualization.arrayToDataTable([
                ['SampleName', 'Shannon', 'Inverse Simpson'],
            {% for ele in adiv_data %}
                ['{{ele[0]}}', {{ele[3]}}, {{ele[4]}}],
            {% endfor %}
            ]);
            var options = { series: { 0: {targetAxisIndex: 0}, 1: {targetAxisIndex: 1} }, hAxis: {title: "Sample"}, vAxes: {0: {title: "Shannon"}, 1: {title: "Inverse Simpson"}}, colors: ['#67B7DC', '#CC4748']};
            var chart = new google.visualization.LineChart(document.getElementById('LineChart'));
            chart.draw(data, options);
        }
		</script>
{% endblock head_bottom %}
{% block logo %}
    <a href="http://www.macrogen.com/" target="_blank">
        <img src="../src/img/logo.png" alt="MACROGEN">
    </a>
    <h1>NGS Analysis Report - OTU</h1>
{% endblock logo %}
{% block INFO %}{% endblock INFO %}
{% block MAIN_DATA %}
    <div id="container" class="paddingT20">
        <h2 class="title">Community richness & diversity</h2>
        <table class="tb1">
            <caption class="hide">Community richness & diversity</caption>
            <colgroup>
                <col width="180">
                <col width="140">
                <col width="140">
                <col width="180">
                <col width="180">
                <col width="180">
            </colgroup>
            <tr>
                <th class="tbtop" colspan=6><h2>OTUs</h2></th>
            </tr>
            <tr>
                <td colspan=6><div id="OTU_Chart"></div></td>
            </tr>
            <tr>
                <th class="tbtop" colspan=6><h2>Community Diversity</h2></th>
            </tr>
            <tr>
                <td colspan=6><div id="LineChart"></div></td>
            </tr>
            <tr>
                <th class="tbtop">SampleName</th>
                <th class="tbtop">OTUs</th>
                <th class="tbtop">Chao1</th>
                <th class="tbtop">Shannon</th>
                <th class="tbtop">Inverse Simpson</th>
                <th class="tbtop">Good's Coverage</th>
            </tr>
        {% for ele in adiv_data %}
            <tr>
                <td class="alignC">{{ele[0]}}</td>
                <td class="alignC">{{'{:,}'.format(ele[1])}}</td>
                <td class="alignC">{{'{:,}'.format(ele[2])}}</td>
                <td class="alignC">{{'{:,}'.format(ele[3])}}</td>
                <td class="alignC">{{'{:,}'.format(ele[4])}}</td>
                <td class="alignC">{{'{:,}'.format(ele[5])}}</td>
            </tr>
        {% endfor %}
            <tr>
                <td class="alignL" colspan=7 style="padding-left:10px">* OTUs : Operational Taxonomic Unit is an operational definition of a species  or group of species often used when only DNA sequence data is available<br>
                * Chao1 : returns the Chao1 richness estimate for an OTU definition<br>
                * <a href="https://en.wikipedia.org/wiki/Diversity_index#Shannon_index" target="_blank">Shannon</a> : The Shannon index takes into account the number and evenness of species.<br>
                * <a href="http://scikit-bio.org/docs/latest/generated/generated/skbio.diversity.alpha.simpson.html" target="_blank">Inverse Simpson</a> : The Inverse Simpson index represents the probability that two randomly selected individuals in the habitat will belong tothe same species.<br>
                * Good's Coverage</a> : Coverage is calculated as <i>C=1-(s/n)</i>,<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                where <i>s</i> is the number of unique OTUs and <i>n</i> is the number of individuals in the sample.<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                This index gives a relative measure of how well the sample represents the larger environment.</td>
            </tr>
        </table>
        <div class="clear"></div>
        <!-- space-->
        <div style="height:1080px"></div>
    </div><!-- container END -->
{% endblock MAIN_DATA %}
{% block FOOTER %}{% endblock FOOTER %}